{% extends 'base.html' %}
{% load static %}
 
{% block css %}
<link rel="stylesheet" href="{% static 'css/bookfinder.css' %}" />
{% endblock css %}
 
{% block content %}
<div style="margin-left: 6%; height: 10cm;">
    <img src={% static 'img/book.png' %} >
</div>

<div class="container" style="color: #cf0107;">
    <input id="keyword" placeholder="find interesting books" style="width: 40%; padding: 8px;"> </input>
    <img style="float: right; margin-top: 0.5%; width: 3%; margin-right: 56%; z-index: 1; position: relative;" src={% static 'img/search.png' %} >
    
    <table class="table table-hover" >
        <thead style="color: #cf0107;">
            <tr>
                <th scope="col" class="align-center">#</th>
                <th scope="col" class="align-center">Cover</th>
                <th scope="col" class="align-center">Title</th>
                <th scope="col" class="align-center">Authors</th>
            </tr>
        </thead>
        <tbody id="booklist" style="color: #cf0107;"></tbody>
    </table>

    </div>
    


{% endblock content %}
 
{% block script %}
<script type="text/javascript">
    $("#keyword").keyup( function(){
        var keyword = $("#keyword").val();
        
        $.ajax({
            // url: 'https://www.googleapis.com/books/v1/volumes?q=' + ketikan,
            url: '/story8/data?q=' + keyword,
            success: function(data){
                var array_items = data.items;
                $("#booklist").empty();
                var result = "";
                for (i=0; i< array_items.length; i++){
                    var judul = array_items[i].volumeInfo.title;
                    var gambar = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                    var author = array_items[i].volumeInfo.authors;

                    result += "<tr> <th scope='row' class align-center text-center'>" + (i + 1) + "</th>" +
                              "<td><img class='img-fluid' style='width:22vh' src='" +
                                gambar + "'></img>" + "</td>" +
                                "<td class='align-center'>" + judul + "</td>" +
                                "<td class='align-center'>" + author + "</td>" +
                                "<td class='align-center'>" +
                                "</td>"+"</tr>"
                    
                }
                $("#booklist").append(result);
            }
        });
    });
 
</script>
{% endblock %}
