{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/kegiatan.css' %}" type="text/css">
{% endblock css %}

{% block content %}

<ul>
    <h1 style="text-align: center;"> Tambah Anggota </h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{data_form.as_table}}
        </table>
        <br>
        <button type="submit" class="btn btn-primary" style="background-color: #699cb3;">Tambah Anggota</button>
    </form>
    <br>
    <a href="{% url 'story6:story6_kegiatan' %}" class="btn btn-primary" style="background-color: #347893; align-items: center;">Lihat Daftar Kegiatan</a>
    
</ul>




{% endblock content %}