{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/kegiatan.css' %}" />
{% endblock css %}

{% block content %}
<h1 style="text-align: center;"> Kegiatan </h1>

<br>
<br>

<a href="{% url 'story6:story6_form_kegiatan' %}" class="btn btn-primary" style="background-color: #f9e4b7; align-items: center; color: #cf0107;">Tambah Kegiatan</a>

<br>
<br>
{% for kegiatan in kegiatans %}
    <div class="card" style="width: 18rem; float: left; ">
        <div class="card-body">
        <h3 class="card-title" style="background-color:#f9e4b7; text-align: center;color: #cf0107;">{{kegiatan.nama_kegiatan}}</h3>
        <p class="card-text" style="text-align: center;">{{kegiatan.deskripsi}}</p>
        <p class="card-text" style="text-align: center;">Peserta : </p>
        {% for anggota in anggotas %}
            {% if anggota.kegiatan.nama_kegiatan == kegiatan.nama_kegiatan %}
                <p class="card-text" style="text-align: center;">{{anggota.nama_anggota}}</p>
            {% else %}

            {% endif %}
        {% endfor %}
        <a href="{% url 'story6:story6_form_anggota' %}" class="btn btn-primary" style="background-color:#f9e4b7; display: flex; justify-content: center;color: #cf0107;"> Tambah Anggota</a>
        </div>
    </div>

{% endfor %}


{% endblock content %}