{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/hobby.css' %}" type="text/css">
{% endblock css %}

{% block content %}


<div class="image2">
    <img src={% static 'img/background2.jpg' %} width="650" height="650" align="right" top="300" >
    
    </div>

    <div class="header3">
        <h1>
            H <br/>
            O <br/>
            B <br/>
            B <br/>
            Y <br/>
            
        </h1>
    </div>
 
  <div >
      <p> H O B B I E S <br/>
           Mainly, there are two activities that she finds therapeutic, 
          it is cooking and taking care of plants. Through cooking, 
          she loves experimenting recipes and mixing random ingredients. 
          It’s a whole trial and error process but she is obsessed with 
          the satisfying feeling it gives her. She is also a fan of Lotus 
          and Orchid plants.  </p>
  </div>






{% endblock content %}