p{
    font-family: Roboto;
    width: 600px;
    margin-left: 100px;
    left: 50px;
    z-index: 1;
    position: absolute;
    top: 450px;
}

@media only screen and (max-width: 700px) {
    p{
    font-family: Roboto;
    width: 600px;
    margin-left: 100px;
    left: 50px;
    z-index: 1;
    position: absolute;
    top: 900px;
    }
    .rectangle8{
        margin-top: 460px;
        z-index: 1;
    }
    .image2{
        margin-left: 200px;
        width: 500px;
        
    }
    .rectangle3{
    position: absolute;
    left: 10%;
    right: 20%;
    top: 30%;
    bottom: 60%;
    background:#DDB247;
    border-radius: 14px;
  }

  .rectangle2{
    position: absolute;
    left: 10%;
    right: 20%;
    top: 11.75%;
    bottom: 78%;
    background:#DDB247;
    border-radius: 14px;
    }

}