{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
{% endblock css %}

{% block content %}
<div class="header" >
  <img src={% static 'img/welc.png' %} >
</div>

{% endblock content %}