{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">
{% endblock css %}

{% block content %}

<!-- <div class="header3">
  <h1>
      P<br/>
      R <br/>
      O <br/>
      F <br/>
      I <br/>
      L <br/>
      E <br/>
      
  </h1>
</div>

<div class="p">
  <p> A sophomore of Information System major who’s currently studying web design 
    to gain the real GPA stonks (slang for inflation) as she stated on this site’s URL. 
    In her 2nd year of college, she’s looking forward to a chance for internship as she 
    eagerly wanting to increase her experience.  <br /> <br/>
     
    T I M E L I N E  <br/> <br/>

    2001 &nbsp;&nbsp;&nbsp;&nbsp; Born in Jakarta <br/>
    2019 &nbsp;&nbsp;&nbsp;&nbsp; Graduated from SMAN 1 Kota 
    Serang as a STEM student <br/>
    2019 &nbsp;&nbsp;&nbsp;&nbsp; Studying Information System in
    Universitas Indonesia <br /> <br />

    E X P E R I E N C E <br/> <br/>
    2020 &nbsp;&nbsp;&nbsp;&nbsp; Staff of Editorial Marketing on 
    COMPFEST 12 <br/>
    2019 &nbsp;&nbsp;&nbsp;&nbsp; Volunteering as an English
    Teacher on BETIS Fasilkom UI <br/>
    2019 &nbsp;&nbsp;&nbsp;&nbsp; Staff of Public Relation and 
    Media Partnership on Forkoma 
    UI Banten <br/><br/>

    S K I L L S <br/> <br/>
    • English Profiency <br/>
    • Content Writing <br/>
    • Digital Marketing <br/> <br/>

  </p>
  
</div>



<div class="img">
  <img src={% static 'img/profile.jpg' %} width="250" height="250" >
</div>

<div class="contact" >
  <a href="https://www.instagram.com/ndsabrina/" target="blank"><i class="fa fa-instagram"></i></a> 
  <a href="https://twitter.com/orchidaire"target="blank"><i class="fa fa-twitter"></i></a> 
  <a href="https://www.linkedin.com/in/nadia-sabrina-054360194/" target ="blank"><i class="fa fa-linkedin"></i></a>  
</div> -->



{% endblock content %}