{% extends 'base.html' %}
{% load static %}
 
{% block css %}
<link rel="stylesheet" href="{% static 'css/accordion.css' %}" />
{% endblock css %}
 
{% block content %}
<div style="margin-left: 12%;">
  <img src={% static 'img/more.png' %} >
</div>

<div class="accordion">
  <ul>
    <li>
      <div class="accordion-item">
        <div class="item-header">
          <h1 class="title">About Me</h1> 
          <button class="reorder-up" style="margin-right: -70%;">&ShortUpArrow; </button> 
          <button class="reorder-down">&ShortDownArrow; </button>
        </div>
        <p class="text" style="font-size: medium;">
          Currently stu(dying) Information System 
        </p>
      </div>
    </li>
    <li>
      <div class="accordion-item">
        <div class="item-header">
          <h1 class="title">Experience</h1> 
          <button class="reorder-up" style="margin-right: -68%;">&ShortUpArrow; </button> 
          <button class="reorder-down">&ShortDownArrow; </button>
        </div>
        <p class="text" style="font-size: medium;">
          2020 - Joined COMPFEST as an Editorial Marketing staff
          <br>
          2019 - Volunteering as an English Teacher on BETIS Fasilkom UI 
          <br>
          2019 - Joined Forkoma Education Care as an Public Relation staff
        </p>
      </div>
    </li>
    <li>
      <div class="accordion-item">
        <div class="item-header">
          <h1 class="title">Achievement</h1> 
          <button class="reorder-up" style="margin-right: -65%;">&ShortUpArrow; </button> 
          <button class="reorder-down">&ShortDownArrow; </button>
        </div>
        <p class="text" style="font-size: medium;">
          2019 - Runner up of Consulting Club Competition on SISTEM Fasilkom UI
        </p>
      </div>
    </li>
    <li>      
      <div class="accordion-item">
        <div class="item-header">
          <h1 class="title">TMI</h1> 
          <button class="reorder-up" style="margin-right: -80%;">&ShortUpArrow; </button> 
          <button class="reorder-down">&ShortDownArrow; </button>
        </div>
        <p class="text" style="font-size: medium;">
          A cat person
        </p>
      </div>
    </li>
  </ul>
</div>
{% endblock content %}
 
{% block script %}
 
<script type="text/javascript">
 $(".item-header").click(function(){
   $(".accordion-item").removeClass("active");
   $(this).parent().addClass("active");
 });
 
 $(".reorder-up").click(function(){
  var $current = $(this).closest('li')
  var $previous = $current.prev('li');
  if($previous.length !== 0){
    $current.insertBefore($previous);
  }
  return false;
});

$(".reorder-down").click(function(){
  var $current = $(this).closest('li')
  var $next = $current.next('li');
  if($next.length !== 0){
    $current.insertAfter($next);
  }
  return false;
});
 
</script>
{% endblock %}
