
   /* body{
    background: #f9e4b7;
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
   }  */

   body{
      background: #f9e4b7;
   }
    
   .accordion{
    
    min-height: 100vh;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    margin-top: ;
    
   }
    
   .accordion-item{
    border-bottom: 1px solid #ddd;
   }
    
   .item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
   }
    
   .title{
    font-size: 20px;
    font-weight: 600;
    color: #cf0107;
   }
    
   /* .icon{
    width: 28px;
    height: 28px;
    border: 2px solid #000;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
   } */
    
   .text{
    color: #000;
    max-height: 0;
    overflow: hidden;
   }
    
   .accordion-item.active .text{
    max-height: 600px;
    transition: .4s linear;
   }
   
   button{
      background-color: #cf0107;
      color: #f9e4b7;
      border: #f9e4b7;
   }


   p{
      font-size: medium;
   }