body{
    background: #f9e4b7;
 }

 .container{
     margin-left: 20%;
     margin-top: 5%;
 }

 .image1{
    float: right;
    margin-top: 0.5%;
    width: 1%; 
    height: 1%;
    margin-right: 56%; 
    z-index: 1; 
    position: relative;
 }