

.header{
  width: 100%;
  height: 80px;
  font-family: Roboto;
  letter-spacing: 6px;
}
.rectangle1{
  width: 600px;
  height: 500px;
  top: 300px;
  background: #BF5B04;
}
.rectangle6{
width: 600px;
height: 600px;
left: 100px;
top: 200px;
background: #BF5B04;
}

.rectangle4{
position: absolute;
width: 600px;
height: 300px;
left: 550px;
top: 370px;
background: #F8F1F1;
}

.circle{
position: absolute;
width: 270px;
height: 255px;
left: 170px;
top: 325px;
background: #DDB247;
border-radius: 50%;
}

.circle2{
position: absolute;
width: 260px;
height: 130px;
left: 175px;
top: 460px;
background:#E5D4A0;
border-bottom-left-radius: 270px;  /* 100px of height + 10px of border */
border-bottom-right-radius: 270px; 

}

/* INI BUAT SIDE NAV*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#BF5B04;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
/* buat isinya */
.sidenav a {
  padding: 10px 0px 0px 0px;
  text-decoration: none;
  font-size: 25px;
  font-family: Roboto;
  color: white;
  display: block;
  transition: 0.3s
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px){
.sidenav {padding-top: 20px;}
.sidenav a {font-size: 18px;}
} 
/* ini buat SIDENAV */ 

.rectangle2{
position: absolute;
left: 10%;
right: 20%;
top: 11.75%;
bottom: 81.6%;
background:#DDB247;
border-radius: 14px;
}

.rectangle3{
  position: absolute;
  left: 10%;
  right: 20%;
  top: 20%;
  bottom: 73.5%;
  background:#DDB247;
  border-radius: 14px;
}

.writing{
font-family: Roboto;
font-style: Light;
font-size: 200px;
line-height: 40px;
text-align: Left;
vertical-align: 10px;
margin: 100px;

}

.icon{
position: absolute;
top: 335px;
left: 180px;
}

.rectangle5{
width: 200px;
height: 45px;
background: #DDB247;
margin: -50px 0px 0px 30%;
position: absolute;
}

p{
font-family: Helvetica;
font-style: Light;
font-size: 24px;
font-stretch: expanded;
}

a {
text-decoration: none;
font-size: 20px;
color:white;
font-family: Roboto;
font-style: Bold;
}

.words {
color:white;
font-size: 20px;
font-family: Roboto;
font-style: Bold;
margin-left: 20px;
top: 60px;
}
.words:hover {
text-decoration: none;
color: black;
}


.header2 {
font-family: monospace;
}

header3 {
  width: 100%;
  height: 80px;
  font-family: Roboto;
  font-stretch: expanded;
  margin-left: 10px;
}

.rectangle8{
  width: 200px;
  height: 55px;
  top: 250px;
  background: #BF5B04;
  border-radius: 14px;
  margin-left: 130px;
}

.rectangle9{
  width: 200px;
  height: 60px;
  top: 580px;
  background: #BF5B04;
  margin-left: 310px;
  border-radius: 14px;
  position: absolute;
  z-index: -1;

}

.rectangle10{
  width: 250px;
  height: 60px;
  top: 870px;
  background: #DDB247;
  margin-left: 310px;
  border-radius: 14px;
  position: absolute;
  border-radius: 14px;
  z-index: -1;
}

.images{
  width: 210px;
  height: 40px;
  top: 180px;
  margin-left: 1180px;
  position: absolute;
  z-index: -1;
}
.img{
  position: absolute;
  margin-left: 920px;
  top: 250px;
}
#square {
  width: 400px;
  height: 200px;
  margin-top: 100 px;
  margin-left: 980px;
  background: #BF5B04;
  z-index: -1;
  }

  .rectangle11{
    width: 200px;
    height: 60px;
    top: 1230px;
    background: #E5D4A0;
    margin-left: 310px;
    border-radius: 14px;
    position: absolute;
    z-index: -1;
  }

  /* .rectangle12{
  left: 10%;
  right: 20%;
  top: 60%;
  bottom: 73.5%;
  background:#DDB247;
  border-radius: 14px;
  } */