{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/matkul.css' %}" type="text/css">
{% endblock css %}

{% block content %}


<ul>
<h2 style="background-color:#BF5B04; color: white; text-align: center;"> &nbsp; &nbsp; M A T A &nbsp; K U L I A H </p>
<h2 >{{matkuls.nama_Mata_Kuliah}}</h2>
<p> Diajar oleh {{matkuls.pengajar}} </p>
<p> {{matkuls.SKS}} SKS </p>
<p> Semester {{matkuls.Semester}} Tahun {{matkuls.Tahun}} </p>
<p> Ruang {{matkuls.Ruang_kelas}} </p>
<p style="background-color:#BF5B04; color: white; text-align: center;"> &nbsp; &nbsp; D E S K R I P S I </p>
<p> {{matkuls.Deskripsi}} </p>


</ul>






{% endblock content %}