{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/matkul.css' %}" type="text/css">
{% endblock css %}

{% block content %}


<ul>
<p> D A F T A R &nbsp; M A T A &nbsp; K U L I A H </p>
    <!-- {% for matkul in matkuls %}
        <h2>{{matkul.nama_Mata_Kuliah}}</h2>
        <p> Diajar oleh {{matkul.pengajar}}</p>
        <p>{{matkul.SKS}} SKS</p>
    {% endfor %} -->

    <table class="table">
        <thead style="background-color:#BF5B04; color: white;">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Mata Kuliah</th>
            <th scope="col">Pengajar</th>
            <th scope="col">SKS</th>
            <th scope="col">Semester</th>
            <th scope="col">Tahun</th>
            <th scope="col">Deskripsi</th>
            <th scope="col">Ruang</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for matkul in matkuls %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{matkul.nama_Mata_Kuliah}}</td>
            <td>{{matkul.pengajar}}</td>
            <td>{{matkul.SKS}}</td>
            <td>{{matkul.Semester}}</td>
            <td>{{matkul.Tahun}}</td>
            <td >{{matkul.Deskripsi}}</td>
            <td>{{matkul.Ruang_kelas}}</td>
            <td> <a class="btn btn-warning" href="{%url 'story5:delete' matkul.id %}"> Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
</ul>






{% endblock content %}