{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/matkul.css' %}" type="text/css">
{% endblock css %}

{% block content %}



<ul>
    <p> T A M B A H K A N &nbsp; M A T A &nbsp; K U L I A H  </p>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{data_form.as_table}}
        </table>
        <br>
        <button type="submit" class="btn btn-primary" style="background-color:#f9e4b7; color: #cf0107;">S U B M I T</button>
    </form>
</ul>

<br>
<br>
<br>

<ul>
<p> D A F T A R &nbsp; M A T A &nbsp; K U L I A H </p>
<a class="btn btn-primary" style="background-color:#f9e4b7; color: #cf0107;"href= "{%url 'story5:story5_jadwal' %}"> J A D W A L </a>
    

    <table class="table">
        <thead style="background-color:#f9e4b7; color: #cf0107;">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Mata Kuliah</th>
            <th scope="col">Detail</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for matkul in matkuls %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{matkul}}</td>
            <td> <a class="btn btn-primary" href="{%url 'story5:detail' matkul.id %}"> Detail</a></td>
            <td> <a class="btn btn-warning" href="{%url 'story5:delete' matkul.id %}"> Delete</a></td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
      
</ul>






{% endblock content %}