.header{
    width: 100%;
    height: 80px;
    font-family: Roboto;
    letter-spacing: 6px;
}
.rectangle1{
    position: absolute;
    width: 600px;
    height: 450px;
    left: 0px;
    top: 200px;
    background: #BF5B04;
}

.circle{
position: absolute;
width: 240px;
height: 225px;
left: 180px;
top: 305px;
background: #DDB247;
border-radius: 50%;
}

.circle2{
position: absolute;
width: 230px;
height: 100px;
left: 185px;
top: 430px;
background:#E5D4A0;
border-bottom-left-radius: 270px;  /* 100px of height + 10px of border */
border-bottom-right-radius: 270px; 

}

/* INI BUAT SIDE NAV*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#BF5B04;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
/* buat isinya */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: Roboto;
    color: white;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px){
  .sidenav {padding-top: 20px;}
  .sidenav a {font-size: 18px;}
} 
/* ini buat SIDENAV */ 

.rectangle2{
position: absolute;
left: 10%;
right: 20%;
top: 11.75%;
bottom: 83%;
background:#DDB247;
border-radius: 14px;
}

.rectangle3{
    position: absolute;
    left: 10%;
    right: 20%;
    top: 20%;
    bottom: 75%;
    background:#DDB247;
    border-radius: 14px;
}

  .img{
    position:relative;
    height:60px;
    width:50px;
    top:200px;
    right:100px;
  }
  



/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  } */