{% extends 'base.html' %}
{% load static %}
 
{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock css %}
 
{% block content %}

<div class="card" style="width: 35rem; height: 20rem;">
    <div class="card-body" >
      <h5 class="card-title" style="text-align: center; color: #f9e4b7; font-weight: 800; font-size: x-large;"> Knock-knock! Who's there? </h5>
      <br>
      <div style="color: #f9e4b7; text-align: center;">
        <form method="POST" action="">
          {% csrf_token %}
          <table style="align-items: center; margin-left: 20%; align-items: center; border-spacing: 3cm;">
            <tr>
              <td style="text-align: left;">{{form.username.label}}  </td>
              <td>{{form.username}} </td>
            </tr>
            <tr>
              <td style="text-align: left;">{{form.password.label}}  </td>
              <td>{{form.password}} </td>
            </tr>
            
          </table>
          <br>
          <button type="submit" class="btn btn-primary" style="background-color: #f9e4b7; color: #cf0107; width: 40%;">Login</button>
        </form>
        <br>
        {% for message in messages %}
					<p id="messages">{{message}}</p>
				{% endfor %}			
		

        Don't have an account? &nbsp; <a href="{% url 'story9:story9_register' %}" style="color: #f9e4b7;"> Register </a>
        <br>

      </div>
    </div>
</div>




{% endblock content %}
 
{% block script %}


{% endblock %}
