{% extends 'base.html' %}
{% load static %}
 
{% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />
{% endblock css %}
 
{% block content %}

<!-- <form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}
<input type="submit"> </input>
</form> -->

<div class="card" style="width: 32rem; height: 25rem;">
    <div class="card-body" >
      <h5 class="card-title" style="text-align: center; color: #f9e4b7; font-weight: 800; font-size: x-large;"> Join our little clique </h5>
      <br>
      <div style="color: #f9e4b7; text-align: center;">
        <form method="POST" action="">
          {% csrf_token %}
          <table style="align-items: center; margin-left: 10%;">
            <tr>
              <td style="text-align: left;">{{form.username.label}}  </td>
              <td>{{form.username}} </td>
            </tr>
            <tr>
              <td style="text-align: left;">{{form.first_name.label}}  </td>
              <td>{{form.first_name}} </td>
            </tr>
            <tr>
              <td style="text-align: left;">{{form.last_name.label}}  </td>
              <td>{{form.last_name}} </td>
            </tr>
            <tr>
              <td style="text-align: left;">{{form.email.label}}  </td>
              <td>{{form.email}} </td>
            </tr>
            <tr>
              <td style="text-align: left;">{{form.password1.label}}  </td>
              <td>{{form.password1}} </td>
            </tr>
            <tr>
              <td style="text-align: left;">{{form.password2.label}}  </td>
              <td>{{form.password2}} </td>

            </tr>
            
          </table>
          <br>
            
            <button type="submit" class="btn btn-primary" style="background-color: #f9e4b7; color: #cf0107; width: 60%;">Register</button>
            <br>
            Already have an account? &nbsp; <a href="{% url 'story9:story9_login' %}" style="color: #f9e4b7;"> Login</a>
            <br>
        </form>
        {{form.errors}}
      </div>
    </div>
</div>
  


{% endblock content %}
 
{% block script %}


{% endblock %}
