p{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    width: 400px;
    height: 111px;
    left: 340px;
    top: 300px;
  }

  @media only screen and (max-width: 700px) {
    .rectangle3{
    left: 10%;
    right: 20%;
    top: 30%;
    bottom: 60%;
    background:#DDB247;
    border-radius: 14px;
  }

  .rectangle2{
    position: absolute;
    left: 10%;
    right: 20%;
    top: 11.75%;
    bottom: 78%;
    background:#DDB247;
    border-radius: 14px;
    }

    .img{
      margin-left: 250px;
    }

    p{
      margin-top: 500px;
      margin-left: -50px;
    }

    #square{
      margin-left: 300px;
      margin-top: -10px;
    }

    .contact{
      display: contents;
      
    }

    .rectangle9{
      top: 1080px;
      margin-left: 230px;
    }
    .rectangle10{
      margin-left: 230px;
      top: 1370px;
    }

    .rectangle11{
      margin-left: 230px;
      top: 1730px;
    }
}

  
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

.contact{
margin: -50px 1100px 400%;
width: 100px !important;
height: 100px !important;

}
